
#runtime
logs


#services
services/infrastructure/traefik/certs/*.*
services/infrastructure/keycloak/backup/
services/infrastructure/keycloak/data/
services/experience/transmission/data/
services/data/postgres/data/postgresql

#git config
!**/.gitkeep
