_site
.sass-cache/
.jekyll-metadata
.jekyll-cache/
.idea
Gemfile.lock
.ssl/
*.iml
Thumbs.db
docker/traefik/certs/*.*
docker/keycloak/backup/
docker/keycloak/data/
docker/transmission/data/
docker/postgres/data/postgresql

!**/.gitkeep
